.container {
  display: flex;
  height: 100vh;
}

.left-section,
.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.left-section {
  background-color: #E4EAF2;
}

.right-section {
  background-color: #91B7D9;
}

.logo-container {
  margin-bottom: 20px;
}

.text-container {
  margin-bottom: 40px;
}

.visit-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="submit"] {
  background-color: #035AA6;
  color: white;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #084DA6;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
