<app-toolbar-content></app-toolbar-content>
<section class="section-homepages">
    <div class="card-all">
        <div class="card">
            <button mat-button style="color: white">Explore popular places </button>
        </div>
        <div class="card">
            <button mat-button style="color: white">Explore now</button>
        </div>
        <div class="card">
            <button mat-button style="color: white">Special offers</button>
        </div>
    </div>

    <div class="img-all">
        <div class="img">
            <img src="assets/img/popular.jpg" alt="popular" width="400px">
        </div>
        <div class="img">
            <img src="assets/images/now.jpg" alt="now" width="400px">
        </div>
        <div class="img">
            <img src="assets/images/offer.jpeg" alt="offer" width="400px">
        </div>
    </div>

    <div class="button-now">
        <button mat-button class="now">Explore now </button>

    </div>

</section>

