<app-toolbar-content></app-toolbar-content>
<section class="section-homepages">
    <div class="card-all">
        <div class="card">
            <button mat-button style="color: white">Explore popular places </button>
        </div>
        <div class="card">
            <button mat-button style="color: white">Explore now</button>
        </div>
        <div class="card">
            <button mat-button style="color: white">Special offers</button>
        </div>
    </div>

    <div class="img-all">
        <a routerLink="/explore-trip" class="img">
            <img src="https://github.com/Open-Source-Wanderlog/images-front/blob/main/paris.jpeg?raw=true" alt="popular" width="400px">
        </a>
        <div class="img">
            <img src="https://github.com/Open-Source-Wanderlog/images-front/blob/main/rome.jpg?raw=true" alt="now" width="400px">
        </div>
        <div class="img">
            <img src="https://github.com/Open-Source-Wanderlog/images-front/blob/main/tokyo.jpeg?raw=true" alt="offer" width="400px">
        </div>
    </div>

    <div class="button-now">
        <button mat-button class="now">Explore now </button>

    </div>

</section>

