.card {
    background-color:  #004AAD;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
}
.card-all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 40px;
}

.img img {
    width: 430px;
    height: 300px ;
}

.img {
    background-color: #004AAD;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

button {
    color: white;
}

.now {
    margin: 20px;

}

section {
    background-color: #91B7D9;
}

.button-now {
    display: flex;
    justify-content: center;
}
