<div class="container">
  <div class="left-section">
    <div class="logo-container">
      <img src="https://github.com/Open-Source-Wanderlog/images-front/blob/main/logo.png?raw=true" alt="App Logo">
    </div>
    <div class="text-container">
      <p>Welcome to WanderLog</p>
      <p>Would you like to know more about us?</p>
      <p>You can visit our landing page for more information</p>
    </div>
    <a routerLink="/" class="visit-button">Visit</a>
  </div>
  <div class="right-section">
    <h1>Welcome to our Web Application</h1>
    <p>Enter your details below to continue.</p>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <div class="form-group">
        <button type="submit" class="reset-link-button" routerLink="/home">Log in</button>
      </div>
    </form>
    <div class="links">
      <a routerLink="/forgot-password">Forgot password?</a>
      <a routerLink="/register">Create an account</a>
    </div>
  </div>
</div>
