<app-toolbar-explore></app-toolbar-explore>

<div class="button-container">
    <button mat-button>
        <a routerLink="/explore-trip">Flight</a>
    </button>

    <button mat-button>
        <a routerLink="/explore-lodging">Lodging</a>
    </button>
    <button mat-button>Attractions</button>
</div>

<div class="search-container">
    <input [(ngModel)]="searchQuery" (input)="search()" placeholder="Search attractions">
</div>

<div class="columns-container">
    <div class="filters-column">
        <h6>Lodging:</h6>
        <p>Type the lodging:</p>
        <div class="option-container">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Economic</mat-radio-button>
                <mat-radio-button value="2">Deluxe</mat-radio-button>
                <mat-radio-button value="3">Exclusive</mat-radio-button>
            </mat-radio-group>
        </div>
        <p>Available rooms</p>
        <div class="option-container">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">1</mat-radio-button>
                <mat-radio-button value="2">2</mat-radio-button>
                <mat-radio-button value="3">3</mat-radio-button>
            </mat-radio-group>
        </div>
        <p>Company</p>
        <div class="option-container">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Disneyland</mat-radio-button>
                <mat-radio-button value="2">House</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="details-column">
        <div>
            <h2>Attraction Destinations</h2>
            <div class="center" *ngFor="let destination of touristicAttractions" [ngClass]="{'selected': destination === selectedAttraction}">
                {{ destination.name }}
                {{ destination.description }}
                <img class="destination-image" [src]="destination.image_url" alt="{{ destination.name }}">
                <p>Price: {{ destination.price }}</p>
                <button mat-button (click)="selectAttraction(destination)">{{destination === selectedAttraction ? 'Discard' : 'Select'}}</button>
            </div>
        </div>


    </div>
</div>
